body {
  background-color: #F2F3FF;
  font-family: Poppins, sans-serif;
}

h1 {
  color: #000080;
  text-align: center;
}

p {
  color: #333333;
  font-size: 18px;
  text-align: justify;
}

ul {
  line-height: 2;
}

img {
  border-radius: 8px;
  position: center;
}

table {
  width: 50%;
  margin: 20px auto;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

a {
  color: #000080;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 20px;
}

a:hover {
  color: #87cefa;
}

button {
  background-color: #000080;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  position: center;
}

button:hover {
  background-color: #87cefa;
}
