body {
  background-color: #F2F3FF; 
  font-family: Poppins, sans-serif;
}

h1 {
  color: #0F3FEE; 
  text-align: center;
}

p {
  color: #333333; 
  font-size: 16px;
  text-align: justify;
}

ul {
  line-height: 2;
}

img {
  border-radius: 10px;
}

table {
  width: 50%;
  margin: 20px auto;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #0F3FEE;
  padding: 8px;
  text-align: center;
}

a {
  color: #0F3FEE; /* mesmo azul do H1 */
  text-decoration: none;
  position: center;
}

a:hover {
  color: #87cefa; /* azul claro no hover */
  position: center;
}

button {
  background-color: #0F3FEE;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  position: center;
}

button:hover {
  background-color: #87cefa; /* azul claro */
}
