body {
  background-color: #F2F3FF; 
  font-family: Poppins, sans-serif;
}

h1 {
  color: #0F3FEE; 
  text-align: center;
}

p {
  color: #333333; 
  font-size: 16px;
  text-align: justify;
}

ul {
  line-height: 2;
}

img {
  border-radius: 10px;
}

table {
  width: 50%;
  margin: 20px auto;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #0F3FEE;
  padding: 8px;
  text-align: center;
}

a {
  color: #0F3FEE; /* mesmo azul do H1 */
  text-decoration: none;
  position: center;
}

a:hover {
  color: #87cefa; /* azul claro no hover */
  position: center;
}

button {
selector{
    width: fit-content !important;
    overflow: hidden;
}

selector .elementor-button:hover::before {
  animation: brilho 0.8s linear;
}

selector .elementor-button::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #ffffff;
  box-shadow: 0 0 30px 20px #ffffffaa;
  transform: skewX(-30deg);
  mix-blend-mode: plus-lighter;
}

@keyframes brilho {
  0% {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    left: 100%;
  }
}
}
